{% extends 'basic/layout.html' %}
<!-- $Id$ -->
{% block extrahead %}
<script language="javascript">
//<![CDATA[

Documentation.addTranslations({"locale": "ru", "plural_expr": "(n > 1)", "messages": {"See the definition": "Voir la d\u00e9finition"}});

// See http://disqus.disqus.com/general_integration_help/
var disqus_developer = 1;
if (document.location.protocol == 'http:') {
    disqus_developer = 0;
}

// Some HTML/CSS transforms we can't do in pure CSS (waiting for CSS3 support)
$(document).ready(function () {

    // Style of .. verisonmodified:: , .. versionadded:: ...
    $('p:has(span.versionmodified)').addClass('p-versionmodified');

    // Style of the TOC tree
    $('ul:has(li.toctree-l1)').addClass('toctree');

    // Decorate links to other sites
    $('a[class~=external]').attr('target', '_blank');

    // Glossary terms
    $('em.xref').attr('title', _('See the definition'));

    // We need to have all <pre> in a <div class="highlight"> to mimic pygments
    // to work around a pygments (?) bug
    var suffixes = {cfg: null, python:null};
    for (var suffix in suffixes) {
        var pattern = 'div.highlight-' + suffix + ' > pre';
        $(pattern).wrap('<div class="highlight" />');
    }
    return true;
});
//]]>
</script>
{% endblock %}

{% block relbar1 %}
<!--[if lte IE 6]>
<style type="text/css">
#ie6msg{border:3px solid #090; margin:8px 0; background:#cfc; color:#000;}
#ie6msg h4{margin:8px; padding:0;}
#ie6msg p{margin:8px; padding:0;}
#ie6msg p a.getie8{font-weight:bold; color:#006;}
#ie6msg p a.ie6expl{font-weight:normal; color:#006;}
</style>
<div id="ie6msg">
<h4>Did you know that your browser is out of date?</h4>
<p>If the layout of this site seems ugly, that's because you're actually using
an outdated browser. And we wont put any effort to provide a nice layout to IE6
users.</p>
<p>To get the best possible experience using our website we recommend that you
upgrade your browser to a newer version. The current version
is <a class="getie8"
href="http://upgradeie.s3.amazonaws.com/eng/index.html">Internet Explorer
8</a>. The upgrade is free. If you're using a PC at work you should contact your
IT administrator.</p>
<p>If you want to you may also try some other popular Internet browsers
like <a class="ie6expl"
href="http://getfirefox.com">Firefox</a>, <a class="ie6expl"
href="http://www.google.com/chrome">Chrome</a>, <a class="ie6expl"
href="http://www.opera.com">Opera</a>, or <a class="ie6expl"
href="http://www.apple.com/safari/download/">Safari</a></p>
</div>
<![endif]-->
{{ super() }}
{% endblock %}

{% block sidebarlogo %}
<!--<p class="logo"><a href="{{ pathto(master_doc) }}"><img src="{{ pathto('_static/flask-small.png', 1) }}" />
</a></p>-->
<table cellspacing="0">
<tr>
<td><a href="https://media.readthedocs.org/pdf/flask-russian-docs/latest/flask-russian-docs.pdf">PDF
</a></p></td>
<td><a href="https://media.readthedocs.org/htmlzip/flask-russian-docs/latest/flask-russian-docs.zip">HTML
</a></p></td>
<td><a href="https://media.readthedocs.org/epub/flask-russian-docs/latest/flask-russian-docs.epub">Epub
</a></p></td>
</tr>
<tr>
<p><a href="https://www.ozon.ru/context/detail/id/135559040/?partner=flask-russian-docs"><img src="_static/grinberg-flask.jpg" 
  alt="flask russian book"></a>
</p>
</tr>
</table>
{% endblock %}
{% block footer %}
{{ super() }}
{% if theme_disqus_name != 'false' %}
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=25069343&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/25069343/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25069343,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
                    try {
                                    w.yaCounter25069343 = new Ya.Metrika({id:25069343,
                                                        clickmap:true,
                                                                            trackLinks:true,
                                                                                                accurateTrackBounce:true});
                                            } catch(e) { }
                                                });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                                s.type = "text/javascript";
                                    s.async = true;
                                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                            if (w.opera == "[object Opera]") {
                                                        d.addEventListener("DOMContentLoaded", f, false);
                                                            } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/25069343" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<hr />
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'ferm32'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
{% endif %}
{% endblock %}
